[gerrit]
	basePath = git
        canonicalWebUrl = {{ canonicalWebUrl }}
[database]
	type = mysql
	hostname = localhost
	database = reviewdb
	username = gerrit
	password = {{ mysql_password['gerrit'] }}
[auth]
	type = {{ gerrit_auth_type }}
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = /usr/lib64/jvm/java-1.7.0-openjdk-1.7.0/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8081/review/
[cache]
	directory = cache
